*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --white: #fff;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  color: var(--very-dark-cyan);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--very-dark-cyan);
}

h1 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

button {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  border-radius: 2rem;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

/*----------------------
------- Header ---------
----------------------*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
  margin-bottom: 10rem;
}

header img {
  height: 1.6rem;
}

header button {
  font-size: .941rem;
  color: var(--pink);
  background-color: var(--white);
  border: 1px solid var(--pink);
  padding: .53rem 1.8rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header button:hover {
  color: var(--light-pink);
  border: 1px solid var(--light-pink);
}

/*----------------------
------- Section --------
----------------------*/

section {
  text-align: center;
  margin: 0 auto;
}

section img {
  width: 100%;
  margin: 0 auto;
}

/*----------------------
------ Section 1 -------
----------------------*/

.section-1 {
  width: 80vw;
  margin-bottom: 12rem;
}

.section-1 p {
  margin-bottom: 4.9rem;
}

.section-1 button,
.section-6 button {
  color: var(--white);
  background-color: var(--pink);
  border: none;
  padding: 1rem 4rem;
  margin-bottom: 10rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.section-1 button:hover,
.section-6 button:hover {
  background-color: var(--light-pink);
}

/*----------------------
------ Section 2 -------
----------------------*/

.section-2 {
  max-width: 16rem;
}

.section-2 img {
  display: block;
  margin: 0 auto 0 0;
  width: 3.5rem;
}

.section-2 h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  margin: 0;
}

.section-2 p {
  font-size: 1.5rem;
  color: #808E9A;
}

/*----------------------
--- Section 3, 4, 5 ----
----------------------*/

.section-3 div,
.section-4 div,
.section-5 div {
  width: 80vw;
  margin: 0 auto;
}

/*----------------------
------ Section 3 -------
----------------------*/

.curve {
  transform: translateY(1rem);
}

.section-3 .flex {
  background-color: var(--very-pale-blue);
  width: 100vw;
  padding-top: 7rem;
}



.section-3 p {
  margin-bottom: 0;
  padding-bottom: 5rem;
}

/*----------------------
------ Section 4 -------
----------------------*/

.section-4 {
  margin: 12rem auto;
}

/*----------------------
------ Section 5 -------
----------------------*/

.section-5 .flex {
  background-color: var(--very-pale-blue);
  width: 100vw;
  padding-top: 7rem;
}

.section-5 p {
  margin-bottom: 0;
  padding-bottom: 5rem;
}

/*----------------------
------ Section 6 -------
----------------------*/

.section-6 {
  margin-top: 5rem;
  margin-bottom: 6rem;
}

/*----------------------
-------- Footer --------
----------------------*/

footer {
  color: var(--white);
}

footer .curve {
  transform: translateY(3rem);
  width: 100vw;
}

footer .flex {
  background-color: var(--very-dark-cyan);
  margin: 0 auto;
}

footer .content {
  width: 86vw;
  margin: 0 auto;
}

footer h3 {
  color: var(--white);
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5rem;
}

footer p {
  font-weight: 600;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  height: 4.8rem;
  border: none;
  border-radius: .5rem;
  margin-bottom: 1.6rem;
}

form button {
  align-self: flex-end;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--white);
  background-color: var(--pink);
  border: none;
  border-radius: .5rem;
  padding: 1.5rem;
  width: 16rem;
  margin-bottom: 11.7rem;
}

form button:hover {
  background-color: var(--light-pink);
}

.white-logo {
  filter:  brightness(0) invert(1);
}

.content .flex {
  display: flex;
  align-items: center;
}

.content .flex p {
  margin-left: 2rem;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: .5rem;
  height: 2.3rem;
  width: 2.3rem;
  margin-right: 1.73rem;
  margin-top:  4.8rem;
  margin-bottom: 4.6rem;
  transition: all .4s ease-in-out;
}

ul li:hover {
  background-color: var(--light-pink);
}

ul li i {
  color: var(--very-dark-cyan);
}